/* Simple CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 /*RESET OVER*/


 body {
    font-family: 'Roboto', Arial, sans-serif; /* Assuming Roboto, but you can use any sans-serif font */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents any unwanted horizontal scrolling */
    background: linear-gradient(270deg, #141414, #2c2c2c);
    background-size: 200% 100%;
    animation: Gradient 6s ease infinite;
    color: white; /* Default text color */
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}

.top-bar h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
      
}

.menu {
    cursor: pointer; /* Make the menu placeholder seem clickable */
    font-weight: 100;
}

.social-icons .icon {
    margin-left: 10px; /* Space out the social icons */
    font-size: 2rem;

}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Viewport height minus the height of the header */
    padding: 0 20px; /* Horizontal padding */
}

.subcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro p {
    margin-bottom: 10px; /* Space between introduction and title */
}

.headshot {
    max-width: 150px; /* Adjust based on your preference */
    border-radius: 50%; /* Makes the image circular */
    margin: 20px 0; /* Vertical spacing */
}

.progress-section {
    text-align: center; /* Center content horizontally */
    margin-top: 20px; /* Spacing from the image */
    display: flex;
    flex-direction: column;
    
}

.progress-section strong {
    display: block;
    margin-bottom: 10px; /* Space between messages */
}

.email-btn button {
    background-color: #7b2ff7; /* Light purple */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-btn button:hover {
    background-color: #341677; /* Dark purple on hover */
}



.button {
  background: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color: #fa709a;
  padding: 0.8rem 1.8rem;
  border-radius: 2rem;
  cursor: pointer;
}

.blob-1 {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    background: linear-gradient(
      180deg,
      rgba(196, 128, 227, 0.758) 31.77%,
      #bf54f1a8 100%
    );
    -webkit-filter: blur(30px);
    filter: blur(30px);
    mix-blend-mode: color-dodge;
    -webkit-animation: move s infinite alternate;
            animation: move 60s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    bottom:50px;
    right:0;
    animation-name: moveBlob1;
   
  }

    @keyframes moveBlob1 {
        from {
            transform: translate(0, 0) rotate(-90deg);
            border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
        }

        to {
            transform: translate(-100vw, -100vh) rotate(-10deg); /* Moves by the width and height of the viewport */
            border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
        }
    }

  .blob-2 {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    background: linear-gradient(
      180deg,
      rgba(196, 128, 227, 0.758) 31.77%,
      #bf54f1a8 100%
    );
    -webkit-filter: blur(30px);
    filter: blur(30px);
    mix-blend-mode: color-dodge;
    -webkit-animation: move s infinite alternate;
            animation: move 60s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    top:50px;
    left:50px;
    animation-name: moveBlob1;
   
  }

  @keyframes moveBlob2 {
    from {
        transform: translate(0, 0) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(-100vw, -100vh) rotate(-10deg); /* Moves by the width and height of the viewport */
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}